/S2CResources/obj/Release
/S2CResources/obj/Debug
/S2CResources/bin/Debug
/S2CResources/bin/Release
/S2CResources/Key.snk
/NppS2CPlugin/NppS2CPlugin.v12.suo
/NppS2CPlugin/NppS2CPlugin/NppS2CPlugin.csproj.user
/NppS2CPlugin/NppS2CPlugin/bin/Debug
/NppS2CPlugin/NppS2CPlugin/bin/Release
/NppS2CPlugin/NppS2CPlugin/obj/Debug
/NppS2CPlugin/NppS2CPlugin/obj/Release
/NppS2CPlugin/TestNppForms/bin/Debug
/NppS2CPlugin/TestNppForms/bin/Release
/NppS2CPlugin/TestNppForms/obj/Debug
/NppS2CPlugin/TestNppForms/obj/Release
/OAuth2.Mvc/bin/Debug
/OAuth2.Mvc/obj/Debug
/OAuth2.Mvc/*.snk
/S2CEntitiesBase/*.snk
/S2CEntitiesBase/bin/Release
/S2CEntitiesBase/obj/Release
/S2CEntitiesBase/obj/Debug
/S2CEntitiesBase/bin/Debug
/S2CModelClient/bin/Debug
/fastJSON/obj/Release
/S2CModelClient/obj/Debug
/S2CModelClient/obj/Release
/S2CModelClient/bin/Release
/fastJSON/Key.snk
/fastJSON/obj/Debug
/fastJSON/bin/Release
/fastJSON/bin/Debug
/S2CModelClient/Key.snk
/OAuth2.Mvc/obj/Release
/OAuth2.Mvc/bin/Release
